[submodule "themes/hugo-dusk"]
	path = themes/hugo-dusk
	url = git@github.com:gyorb/hugo-dusk.git
[submodule "themes/aerial"]
	path = themes/aerial
	url = git@github.com:sethmacleod/aerial.git
[submodule "public"]
	path = public
	url = git@github.com:pouyanh/pouyanh.github.io.git
	branch = master
[submodule "themes/introduction"]
	path = themes/introduction
	url = git@github.com:victoriadotdev/hugo-theme-introduction.git
[submodule "themes/airspace"]
	path = themes/airspace
	url = git@github.com:themefisher/airspace-hugo.git
