version: '2.3'
services:
  iridescent:
    build:
      context: .
      dockerfile: Dockerfile-dev
      args:
        HTTP_PROXY: http://172.22.26.1:8118
        HTTPS_PROXY: http://172.22.26.1:8118
        NO_PROXY: .jst
    image: registry.pouyanh.me/library/hugo:develop
    working_dir: /iridescent
    volumes:
    - .:/iridescent

networks:
  default:
    ipam:
      config:
        - subnet: 172.22.26.128/27

