version: '2.3'
services:
  iridescent:
    build:
      context: .
      dockerfile: Dockerfile-dev
    image: registry.pouyanh.me/library/hugo:develop
    working_dir: /iridescent
    volumes:
    - .:/iridescent

networks:
  default:
    ipam:
      config:
        - subnet: 172.22.26.128/27

